{% extends "base.html" %}

{% load humanize %}

{% block content %}
  <br>

  <div class="row">
	<div class="col-sm-6 col-md-3">
	  <div class="card">
		<div class="card-header">
		  Chain Height
		</div>
		<div class="card-body">
		  <h4 class="card-title">{{ highest_block.height | intcomma }}</h4>
		</div>
	  </div>
	</div>

	<div class="col-sm-6 col-md-3">
	  <div class="card">
		<div class="card-header">
		  Latest Block
		</div>
		<div class="card-body">
		  <h4 class="card-title">{{ latest_block.timestamp | naturaltime }}</h4>
		</div>
	  </div>
	</div>

	<div class="col-sm-6 col-md-3">
	  <div class="card">
		<div class="card-header">
		  Difficulty
		</div>
		<div class="card-body">
		  <h4 class="card-title">{{ latest_block.difficulty | intcomma }}</h4>
		</div>
	  </div>
	</div>

	<div class="col-sm-6 col-md-3">
	  <div class="card">
		<div class="card-header">
		  Emission
		</div>
		<div class="card-body">
		  <h4 class="card-title">{{ total_emission | intcomma }}</h4>
		</div>
	  </div>
	</div>
  </div>

  <br>

  {% if competing_chains > 1 %}
	<div class="alert alert-danger" role="alert">
	  <strong>Fork detected!</strong>
	  We've detected {{ competing_chains | apnumber }} competing chains, forked at <a href="/block/{{ forked_at }}">Block {{ forked_at }}</a>. Stay wary!
	</div>
  {% endif %}

  {% if block_list %}
	<h2>Latest Blocks</h2>

	<table class="table table-bordered table-hover">
	  <thead class="thead-light">
		<tr>
		  <th>Height</th>
		  <th>Hash</th>
		  <th>Age</th>
		  <th># kernel</th>
		  <th># in</th>
		  <th># out</th>
		</tr>
	  </thead>
	  <tbody>
		{% for blk in block_list %}
		  <tr>
			<td><a href="/block/{{ blk.height }}">{{ blk.height }}</a></td>
			<td><a href="/block/{{ blk.hash }}">{{ blk.hash }}</a></td>
			<td>{{ blk.timestamp | naturaltime}}</td>
			<td>{{ blk.kernel_set.all.count }}</td>
			<td>{{ blk.input_set.all.count }}</td>
			<td>{{ blk.output_set.all.count }}</td>
		  </tr>
		{% endfor %}
	  </tbody>
	</table>

	{% if is_paginated %}
	  <ul class="pagination justify-content-center">
		{% if page_obj.has_previous %}
		  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; newer blocks</a></li>
		{% else %}
		  <li class="page-item disabled"><a class="page-link" href="#">&laquo; newer blocks</a></li>
		{% endif %}
		<li class="page-item disabled">
		  <a class="page-link" href="#">page {{ page_obj.number }} / {{ paginator.num_pages }}</a>
		</li>
		{% if page_obj.has_next %}
		  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">older blocks &raquo;</a></li>
		{% else %}
		  <li class="page-item disabled"><a class="page-link" href="#">older blocks &raquo;</a></li>
		{% endif %}
	  </ul>
	{% endif %}

  {% else %}
	Sorry, there was an error fetching the list of blocks. Please try again later.
  {% endif %}
{% endblock content %}
