{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load grin %}

{% block content %}
  <br>
  <br>

  <div class="block_detail_header, row">
      <img border="0" src="{% static "images/icons/cube_32x32.png" %}" width="20" height="20" />
      <h4>&nbsp Block {{ blk.height | intcomma }}</h4>
  </div>

  <table class="table table-horizontal-bordered table-hover">
	<tr>
	  <td>Hash</td>
	  <td>{{ blk.hash }}</td>
	</tr>
	<tr>
	  <td>Version</td>
	  <td>{{ blk.version }}</td>
	</tr>
	<tr>
	  <td>Previous Block</td>
	  <td>
		{% if blk.height == 0 %}
		  <em>(None, this is the Genesis Block)</em>
		{% else %}
		  <a href="/block/{{ blk.previous.hash }}" title="{{ blk.previous.hash }}">{{ blk.previous.hash }}</a>
		{% endif %}
	  </td>
	</tr>
	<tr>
	  <td>Age</td>
	  <td>{{ blk.timestamp | date:"Y-m-d, H:i:s" }} UTC</td>
	</tr>
	<tr>
	  <td>PoW Algorithm</td>
	  <td>
	    {% if blk.edge_bits == 29 %}
	    cuckARoo29
	    {% elif blk.edge_bits == 31 %}
	    cuckAToo31
	    {% endif %}
	  </td>
	</tr>
	<tr>
	  <td>Secondary Scale</td>
	  <td>{{ blk.secondary_scaling | intcomma }}</td>
	</tr>
	<tr>
	  <td>Solution Difficulty</td>
	  <td>{{ blk.difficulty | floatformat:-2 | intcomma }}</td>
	</tr>
	<tr>
	  <td>Target Difficulty</td>
	  <td>{{ blk.target_difficulty | floatformat:-2 | intcomma }}</td>
	</tr>
	<tr>
	  <td>Total Difficulty</td>
	  <td>{{ blk.total_difficulty | intcomma }}</td>
	</tr>
	<tr>
	  <td>Total Kernel Offset</td>
	  <td>{{ blk.total_kernel_offset }}</td>
	</tr>
	<tr>
	  <td>Nonce</td>
	  <td>{{ blk.nonce }}</td>
	</tr>
	<tr>
	  <td>Block Reward</td>
	  <td>{{ blk.reward | grin }}</td>
	</tr>
	<tr>
	  <td>Fees</td>
	  <td>{{ blk.fees | nanogrin }}</td>
	</tr>
  </table>

  <details class="black">
	<summary>Inputs ({{ blk.input_set.all.count }})</summary>

	<table class="table table-horizontal-bordered table-hover">
	  <thead class="thead-light">
		<tr>
		  <th>Commit</th>
		</tr>
	  </thead>
	  <tbody>
		{% for input in blk.input_set.all %}
		  <tr>
			<td style="font-family:monospace;">{{ input.data }}</td>
		  </tr>
		{% endfor %}
	  </tbody>
	</table>
  </details>

  <br>

  <details class="black">
	<summary>Outputs ({{ blk.output_set.all.count }})</summary>

	<table class="table table-horizontal-bordered table-hover">
	  <thead class="thead-light">
		<tr>
		  <th>Output Type</th>
		  <th>Commit</th>
		  <th>Spent</th>
		</tr>
	  </thead>
	  <tbody>
		{% for output in blk.output_set.all %}
		  <tr>
			<td>{{ output.output_type }}</td>
			<td>{{ output.commit }}</td>
			<td>{{ output.spent }}</td>
		  </tr>
		{% endfor %}
	  </tbody>
	</table>
  </details>

  <br>

  <details class="black">
	<summary>Kernels ({{ blk.kernel_set.all.count }})</summary>

	<table class="table table-horizontal-bordered table-hover">
	  <thead class="thead-light">
		<tr>
		  <th>Features</th>
		  <th>Fee</th>
		  <th>Lock Height</th>
		</tr>
	  </thead>
	  <tbody>
		{% for kernel in blk.kernel_set.all %}
		  <tr>
			<td>{{ kernel.features }}</td>
			<td>{{ kernel.fee | nanogrin }}</td>
			<td>{{ kernel.lock_height }}</td>
		  </tr>
		{% endfor %}
	  </tbody>
	</table>
  </details>

{% endblock content %}
