<!DOCTYPE html>
{% load static %}

<html>

<head>
	<title>GrinExplorer</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/project.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<!-- Load icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% block chart_loader_header %}{% endblock %}
</head>

<body>
	<div class="container">
		<div class="row align-items-start">
			<div style="margin-top:12px;">
				<a href="/" class="iconLogo"><img border="0" src="{% static "images/icons/logo_80x80.png" %}" width="45"
						height="45" /></a>
			</div>
			<div class="col" style="margin-top:16px;">
				<h2><a href="/" style="color:black">GrinExplorer</a></h2>
			</div>
			<div class="col text-right">
				<form class="search" method="get" action="/search" style="margin-top:12px;">
					<input class="form-control" type="text" name="q"
						placeholder="Search by block hash, height or output" style="text-align: center;" size="66">
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</div>

		{% block content %}{% endblock %}
	</div>

	<br />
	<br />

	<footer>
		<a href="https://grinexplorer.net/">GrinExplorer.net</a> is powered by <a
			href="https://github.com/mimblewimble/grin-explorer">grin-explorer</a> released under the GNU AGPL.
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
</body>

</html>